header {
    display: flex;
    justify-content: space-between;
    background-color: #f6bd60;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

nav {
    text-align: right ;
}

a {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: "Fira Code";
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a:before {
    content: "";
    background-color: #d95263;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

span {
    background-color: #d95263;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #d95263;
    box-shadow: 5px 5px 0px black; /** eixo X, eixo y, blur, cor **/
    padding: 18px 20px;
    margin-right: 0px;
}

#button:hover {
    display: inline-block;
    background-color: #C34959;
    box-shadow: 5px 5px 0px black; /** eixo X, eixo y, blur, cor **/
    padding: 18px 20px;
    margin-right: 0px;
}